.dotnet/
.android-sdk/
.packages/
.vs/
.vscode/*.user.json
**/bin/
**/obj/
**/TestResults/
**/coverage/
*.user
*.suo
*.nupkg
*.snupkg
.aspire/
.containers/
**/.dev-emails/
**/.dev-storage/
artifacts/
appsettings.Local.json
.env
secrets.json
*.pfx
*.p12
*.key
